<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
    <h1>Edit Employee</h1>
    <form method="post">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ employee.FirstName }}" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ employee.LastName }}" required><br>
        <input type="submit" value="Update">
    </form>
    <a href="{% url 'employee_list' %}">Back to Employee List</a>
</body>
</html>
